<div>
  <a
    href="https://www.instagram.com/djmitex/"
    target="_blank"
    title="MiteX auf Instagram"
  >
    <fa-icon [icon]="faInstagram"></fa-icon>
  </a>

  <a
    href="https://open.spotify.com/artist/6HOEVqW2JrpV56Slza9BXq"
    target="_blank"
    title="MiteX auf Spotify"
  >
    <fa-icon [icon]="faSpotify"></fa-icon>
  </a>

  <a
    href="https://www.youtube.com/mitex"
    target="_blank"
    title="MiteX auf Youtube"
  >
    <fa-icon [icon]="faYoutube"></fa-icon>
  </a>

  <a
    href="https://www.djmitex.com/"
    target="_blank"
    title="MiteX offizielle Webseite"
  >
    <fa-icon [icon]="faGlobe"></fa-icon>
  </a>

  <a
    href="https://www.linkedin.com/in/matthias-michel-07b724140/"
    target="_blank"
    title="Matthias auf LinkedIn"
  >
    <fa-icon [icon]="faLinkedin"></fa-icon>
  </a>
</div>
