@import "../../../variables";

.social-icons {
  .social-icon {
    margin: $socials-icon-margin;
    font-size: $socials-icon-size;
    text-decoration: none;
    color: $accent-light;
  }

  .social-icon:hover {
    color: $accent-primary;
    transition: $hover-transition;
  }
}
