@import "../../../variables";

.social-icons {
  margin: $container-margin;
  .social-icon {
    margin: $socials-icon-margin;
    font-size: $socials-icon-size;
    text-decoration: none;
    color: $accent-light;
    transition: $hover-transition;
  }

  .social-icon:hover {
    color: $accent-primary;
  }
}
