@import "../../variables";

.hobby-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: $container-margin;
  width: 100%;
}

.aareguru {
  .temperature {
    font-weight: bold;
  }
}

.meme {
  width: 100%;
  .image {
    width: 300px;
  }
}

.spinner {
  width: 50px;
  margin: 5px auto;
}

.refresh {
  cursor: pointer;
}

@media (max-width: $media-medium) {
  .hobby-container {
    flex-direction: column;
  }
}
