@import "../../variables";

.hobby-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: $container-margin;
  width: 100%;
}

.meme {
  width: 200px;
}

.spinner {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: $media-medium) {
  .hobby-container {
    flex-direction: column;
  }
}
