@import "../../variables";

.carrerpath-container {
  margin-block-start: 50px;
  margin-block-end: 50px;
}

.hobby-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: $container-margin;
  width: 100%;
}

.aareguru {
  .temperature {
    font-weight: bold;
  }
}

.meme,
.music {
  width: 100%;
  .image {
    width: 300px;
  }
}

.games {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .game-icon {
    margin: $container-margin;
    width: 75px;
    height: auto;
  }
}

.spinner {
  width: 50px;
  margin: 5px auto;
}

.refresh {
  cursor: pointer;
}

@media (max-width: $media-medium) {
  .hobby-container {
    flex-direction: column;
  }
}
