<div class="intro-container">
  <div class="image">
    <img
      src="assets/images/MiteX_Full_WithBorder.png"
      alt="Matthias Michel"
      title="Matthias Michel"
      width="80%"
    />
  </div>
  <div class="information">
    <h1>Matthias Michel</h1>
    <h3>
      Born in
      <app-number-counter
        [targetNumber]="1999"
        [startNumber]="1000"
      ></app-number-counter>
    </h3>
    <p>
      Geboren in
      <app-number-counter
        [targetNumber]="1999"
        [startNumber]="1000"
      ></app-number-counter>
      , habe ich mein Leben immer mit einem optimistischen Blick nach vorne
      gerichtet. Meine Mottos „Smile more than others“, „Smile is Style“ und
      „Neugierde bringt dich weiter“ spiegeln meine Lebensphilosophie wider: Ein
      Lächeln öffnet Türen, und Neugier treibt mich an, immer Neues zu
      entdecken.
    </p>
    <p>
      Ich liebe es, Zeit mit meinen Freunden zu verbringen, gemeinsam Spaß zu
      haben und mich für sie einzusetzen, wenn sie mich brauchen. Neben meiner
      Leidenschaft für Musik ist es mir wichtig, positive Momente zu schaffen –
      für mich und mein Umfeld.
    </p>
    <a
      href="https://www.linkedin.com/in/matthias-michel-07b724140/"
      target="_blank"
      title="Matthias auf LinkedIn"
      class="linkedin"
    >
      <fa-icon [icon]="faLinkedin"></fa-icon>
    </a>
  </div>
</div>

<h1>Laufbahn</h1>
<div class="carrerpath-container">
  <app-career-card
    [title]="'BSc Wirtschaftsinformatik'"
    startDate="Sep 2022"
    endDate="Aktuell"
    [organisation]="'BFH W'"
    [location]="'Bern'"
  ></app-career-card>
  <app-career-card
    [title]="'Requirement Engineer'"
    startDate="Aug 2024"
    endDate="Aktuell"
    [organisation]="'Nexplore AG'"
    [location]="'Thun'"
  ></app-career-card>
  <app-career-card
    [title]="'Software Engineer'"
    startDate="Aug 2023"
    endDate="Jul 2024"
    [organisation]="'Nexplore AG'"
    [location]="'Thun'"
  ></app-career-card>
  <app-career-card
    [title]="'Technische Berufsmaturität'"
    startDate="Aug 2019"
    endDate="Jul 2021"
    [organisation]="'GIBB'"
    [location]="'Bern'"
  ></app-career-card>
  <app-career-card
    [title]="'Software Engineer'"
    startDate="Sep 2019"
    endDate="Jul 2023"
    [organisation]="'WeroSoft AG'"
    [location]="'Ostermundigen'"
  ></app-career-card>
  <app-career-card
    [title]="'Lehre Informatiker EFZ'"
    startDate="Aug 2015"
    endDate="Jul 2019"
    [organisation]="'Schweizerische Post'"
    [location]="'Bern'"
    [isLast]="true"
  ></app-career-card>
</div>

<h1>Hobbys</h1>
<div class="hobby-container">
  <app-info-card [faInputIcon]="faPersonSwimming">
    <h3>Swimming</h3>
    @if (aareData(); as aareData) {
    <div class="aareguru">
      <p class="temperature">Aare in Thun: {{ aareData.aare }}°</p>
      <p>{{ aareData.text }}</p>
      <p>Daten von {{ aareData.time * 1000 | date : "dd.MM.yyyy HH:mm" }}</p>
      <a href="https://aare.guru/#thun" target="_blank">by aare.guru</a>
    </div>
    <p class="refresh" (click)="updateAareData()" title="Refresh">
      <fa-icon [icon]="faRefresh"></fa-icon>
    </p>
    } @else{
    <p>Aare Guru nicht verfügbar ☹️</p>
    }
  </app-info-card>

  <app-info-card [faInputIcon]="faMeme">
    <h3>Memes</h3>
    @if(memeData(); as memeData){
    <div class="meme">
      <a [href]="memeData.url" target="_blank" title="Memes for you!">
        <img class="image" [src]="memeData.url" [alt]="memeData.description" />
      </a>
    </div>
    <p class="refresh" (click)="updateMemeData()" title="Refresh">
      <fa-icon [icon]="faRefresh"></fa-icon>
    </p>
    } @else {
    <div class="spinner">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <p>Es kann sein, dass das Meme Kontingent für den Tag aufgebraucht ist.</p>
    }
    <!-- Meme, wenn Meme API zu viele Memes geladen wurden: POV: Your meme contingent is run out. -->
  </app-info-card>

  <app-info-card [faInputIcon]="faSpotify">
    <h3>Dj & Producing</h3>
    <div class="music">
      <iframe
        style="border-radius: 12px"
        src="https://open.spotify.com/embed/playlist/3aDfax1fiszcDjliw29JcX?utm_source=generator&theme=0"
        width="100%"
        height="352"
        frameBorder="0"
        allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        loading="lazy"
      ></iframe>
    </div>
  </app-info-card>

  <app-info-card [faInputIcon]="faCar">
    <h3>Driving</h3>
    <p>
      <app-number-counter
        [targetNumber]="80000"
        [startNumber]="0"
        [grouping]="true"
      ></app-number-counter>
      Kilometers driven (estimated)
    </p>
    <p>Since 2017</p>
    <p>Kategorien: A, B, BE</p>
    <h3>Funfact</h3>
    <p>
      Kategorien alle zwischen 11. & 18. September über verschiedene Jahre
      erlangt.
    </p>
    <p></p>
  </app-info-card>

  <app-info-card [faInputIcon]="faSteam">
    <h3>Gaming</h3>
    <div class="games">
      <img
        class="game-icon"
        src="assets/images/RL-Logo.png"
        alt="Rocket League"
        title="Rocket League"
      />
      <img
        class="game-icon"
        src="assets/images/Hd2-Logo.webp"
        alt="Helldivers 2"
        title="Helldivers 2"
      />
      <img
        class="game-icon"
        src="assets/images/WoW-Logo.svg"
        alt="World of Warcraft"
        title="World of Warcraft"
      />
    </div>
  </app-info-card>
</div>
