@import "../../variables";

.content-container {
  background-color: $backdrop-component;
  box-shadow: $boxshadow;
  border-radius: $border-radius;
  min-width: 25rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    color: $accent-primary;
  }
}

.dashed-line {
  height: 75px;
  width: 5px;
  background-color: $accent-primary;
  margin: 0 auto;
}

.content-container:hover {
  transition: $hover-transition;
  background-color: $backdrop-component-hover;
}

@media (max-width: $media-medium) {
  .content-container {
    border-radius: 0;
    width: 97vw;
  }
}
@media (min-width: $media-medium) {
  .content-container {
    width: 60vw;
  }
}
