@import "../../variables";

.content-container {
  background-color: $backdrop-component;
  box-shadow: $boxshadow;
  padding: $container-padding 0;
  border-radius: $border-radius;
  flex-grow: 1;
}
