@import "../../variables";

.content-container {
  background-color: $backdrop-component;
  box-shadow: $boxshadow;
  border-radius: $border-radius;
  min-width: 25rem;
  flex-grow: 1;
  height: 100%;

  .card-content {
    margin: $container-margin;
  }

  .card-icon {
    margin-top: $container-margin;
    font-size: 4rem;
    color: $accent-primary;
  }
}

.content-container:hover {
  transition: $hover-transition;
  background-color: $backdrop-component-hover;
}

@media (max-width: $media-medium) {
  .content-container {
    border-radius: 0;
    width: 100%;
  }
}
@media (min-width: $media-medium) {
  .content-container {
    width: 400px;
  }
}
