// Colorpalette
$accent-primary: #ff5b00;
$accent-light: #ffffff;
$text-primary: #ffffff;
$text-secondary: #000000;
$backdrop-primary: #1c1c1c;
$backdrop-component: #272727;
$backdrop-component-hover: #4d4d4d;

// Border radius
$border-radius: 10px;

$container-padding: 25px;
$container-margin: 25px;

$boxshadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.7);

$socials-icon-size: 3rem;
$socials-icon-margin: 15px;

// Transitions
$hover-transition: 0.2s ease-in-out;
